@charset "utf-8";
@import url('reset.css');

@font-face {
    font-family: 'CookieRun';
    src: url('../fonts/CookieRun-Regular.eot');
    src: url('../fonts/CookieRun-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CookieRun-Regular.woff2') format('woff2'),
        url('../fonts/CookieRun-Regular.woff') format('woff'),
        url('../fonts/CookieRun-Regular.ttf') format('truetype'),
        url('../fonts/CookieRun-Regular.svg#CookieRun-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CookieRun';
    src: url('../fonts/CookieRun-Bold.eot');
    src: url('../fonts/CookieRun-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CookieRun-Bold.woff2') format('woff2'),
        url('../fonts/CookieRun-Bold.woff') format('woff'),
        url('../fonts/CookieRun-Bold.ttf') format('truetype'),
        url('../fonts/CookieRun-Bold.svg#CookieRun-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

@media screen and (max-width: 480px) {
    section {
        display: block;
        background: url('../img/mobile_bg.png') no-repeat;
        background-size: cover;
        background-attachment: fixed;
        overflow: hidden;
    }
    .wrap {
        max-width: 480px;
        padding-top: 30px;
    }
    .logo {
        text-align: center;
    }
    .logo img {
        width: 60%;
    }
    #title {
        font-family: 'CookieRun';
        text-align: center;
        font-size: 18px;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .start {
        background: #ff5252;
        width: 220px;
        height: 64px;
        border-radius: 30px;
        text-align: center;
        font-family: 'CookieRun';
        line-height: 64px;
        font-size: 28px;
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    /* slick slider */
    
    .autoplay {
        margin: 0 0 50px -50px;
        width: 130%;
    }
    .animal {
        margin: 0 5px;
    }
    .animal > img {
        vertical-align: bottom;
        height: 64px;
    }
    
    /* slick slider */

    .buttons {
        display: flex;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .share {
        background: #84caf6;
        font-family: 'CookieRun';
        text-align: center;
        width: 40%;
        border-radius: 24px;
        padding: 10px;
    }
    .download {
        background: #ffde5b;
        font-family: 'CookieRun';
        text-align: center;
        width: 40%;
        border-radius: 24px;
        padding: 10px;
    }
    .group.top > * {
        font-family: 'CookieRun';
        text-align: center;
        margin-top: 50px;
    }
    .left {
        font-size: 30px;
    }
    .left span {
        font-size: 34px;
        font-weight: bold;
    }
    .right {
        margin-bottom: 50px;
    }
    .right h3 {
        font-weight: normal;
        font-size: 22px;
        margin-bottom: 20px;
    }
    .right h3 span {
        font-weight: bold;
        font-size: 26px;
    }
    .right p {
        width: 64%;
        margin: 0 auto;
    }
    .group.btm {
        text-align: center;
        font-family: 'Noto Sans KR', sans-serif;
    }
    .group.btm h3 {
        margin-bottom: 20px;
        font-size: 22px;
    }
    .group.btm dl {
        display: flex;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 14px;
    }
    .group.btm dt {
        width: 30%;
        line-height: 1.7;
        font-size: 18px;
    }
    .group.btm dl ul li {
        line-height: 1.7;
    }
    /* main E */

    /* result */
    .wrap {
        width: 90%;
        margin: 0 auto;
    }
    .floating {
        position: fixed;
        bottom: 40px;
        right: 40px;
        z-index: 9999;
    }
    #download {
        width: 80px;
        height: 80px;
        border-radius: 45px;
        text-align: center;
        background: #ff5252;
        font-family: "CookieRun";
        font-size: 16px;
        position: absolute;
        top: -60px;
        left: -60px;
        z-index: 999;
    }
    #download::before {
        content: '앱 다운로드!';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        width: 120%;
    }
    .floating img {
        width: 100px;
        position: absolute;
        top: -110px;
        left: -70px;
        z-index: 99;
    }
    .img_result {
        margin-bottom: 30px;
    }
    .img_result li {
        font-family: "CookieRun";
        text-align: center;
        font-size: 24px;
        margin-bottom: 15px;
    }
    .img_result li:nth-child(2) {
        width: 220px;
        margin: 0 auto;
        margin-top: 10px;
    }
    .img_result li:nth-child(2) img {
        width: 86%;
    }
    .result_logo img {
        width: 140px;
        vertical-align: bottom;
        margin-right: 5px;
    }
    #exp {        
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 20px;
        margin: 15px 0;
    }
    .logo_small > img {
        width: 70px;
    }
    .result1 {
        width: 95%;
        margin: 0 auto;
    }
    .result1 ul {
        margin-bottom: 22px;
    }
    .result1 ul li {
        font-family: 'Noto Sans KR', sans-serif;
        white-space: -0.5;
        line-height: 1.6;
        margin-bottom: 10px;
    }
    .result1 ul li:first-child {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 16px;
    }
    .buttons.result {
        width: 100%;
        margin-top: 50px;
    }
    .buttons.result > a {
        text-align: center;
        padding: 12px;
        border-radius: 30px;
        font-family: "CookieRun";
        width: 40%;
    }
    .result-share {
        background: #96E8A9;
    }
    .img-down {
        background: #FFCA7B;
    }
    .result2 {
        margin: 100px auto;
    }
    h2 {
        font-family: "CookieRun";
        text-align: center;
        font-weight: normal;
    }
    h2 span {
        font-weight: bold;
    }
    .product-wrap {
        margin: 100px 0;
    }
    .product-wrap.top {
        margin: 0 0 100px 0;
    }
    .product-title {
        font-size: 20px;
        line-height: 50px;
        color: #fff;
        background: #303f9f;
        width: 150px;
        height: 50px;
        border-radius: 25px;
        text-align: center;
        font-family: "CookieRun";
        margin: 30px auto;
    }
    .product-subwrap {
        margin: 0 0 50px 0;
    }
    .product {
        display: flex;
        justify-content: space-between;
        font-family: "Noto Sans KR";
        white-space: -0.75px;
        font-size: 20px;
        text-align: center;
    }
    .product-image {
        width: 48%;
        border-radius: 30px;
        overflow: hidden;
        border: 3px solid #303f9f;
        position: relative;
    }
    .product-image::after {
        content: '';
        display: block;
        padding-bottom: 100%;
    }
    .product-image img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .product-info {
        width: 48%;
    }
    .product-info li:first-child {
        font-size: 22px;
        margin-bottom: 30px;
        font-weight: bold;
    }
    .product-desc {
        margin: 20px 0;
        font-family: "Noto Sans KR";
        font-size: 16px;
        white-space: -0.75px;
    }
    .local {
        width: 94%;
        margin: 0 auto;
    }
    .local > img {
        width: 100%;
    }
    .result4 {
        margin: 100px 0 300px 0;
        line-height: 1.5;
    }
    .result4 h3 {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 20px;
        text-align: center;
        font-weight: normal;
    }
    .result4 h3 span {
        font-weight: bold;
        color: #1B4A9D;
        font-size: 24px;
    }
    .non_mobile {
        display: none;
    }
}

@media screen and (min-width: 481px) {
    .non_mobile {
        width: 100%;
        height: 100%;
        background: url('../img/non_mobile_bg.svg');
        background-size: cover;
    }
    .non_mobile p {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    section {
        display: none;
    }
}