@charset "utf-8";
@import url('main_mobile.css');

@media screen and (max-width: 480px) {
    * {
        text-align: center;
    }
    section {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        position: relative;
    }
    .wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    h3 {
        font-family: "CookieRun";
        font-size: 24px;
        font-weight: normal;
        margin-bottom: 20px;
    }
    h3 span {
        font-weight: bold;
    }
    h4 {
        font-family: 'Noto Sans KR', sans-serif;
        letter-spacing: -0.75px;
        font-weight: normal;
    }
    .sex_btn {
        width: 320px;
        margin: 36px auto;
        display: flex;
        padding: 0 10px;
        box-sizing: border-box;
        justify-content: space-between;
    }
    .sex1, .sex2 {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        line-height: 130px;
        font-family: 'Noto Sans KR', sans-serif;
        letter-spacing: -0.75px;
        white-space: -2;
        font-size: 19px;
        color: #333;  
        box-shadow: 2px 2px 8px 2px rgba(0,0,0,.1);
    }
    .sex1 {
        background: #e2fcef;
    }
    .sex2 {
        background: #ffe9f6;
    }
    .test {
        width: 70%;
        color: #333;
        font-family: 'Noto Sans KR', sans-serif;
        letter-spacing: -0.75px;
        padding: 20px 10px;
        background: #fff;
        border-radius: 30px;
        font-size: 23px;
        margin-top: 36px;
    }
    /* select E */

    .namePlz {
        margin-bottom: 36px;
    }
    .namePlz span {
        font-weight: bold;
    }
    input {
        display: block;
        border: none;
        width: 300px;
        height: 60px;
        padding-left: 20px;
        font-size: 24px;
        font-family: 'NanumBarunGothic';
        box-shadow: 2px 2px 8px 2px rgba(0,0,0,.1);
        margin-bottom: 36px;
    }
    input:focus, button:focus {
        outline: none;
    }
    button {
        border: 0;
        background: transparent;
        font-size: 30px;
        font-family: "CookieRun";
    }
    /* name E */

    .wrap.notice {
        width: 100%;
    }
    #warning {
        font-family: 'Noto Sans KR', sans-serif;
        letter-spacing: -0.75px;
        font-size: 18px;
        margin: 36px auto;
        width: 80%;
        line-height: 26px;
    }
    #nextButton {
        font-family: "CookieRun";
        color: #333;
        font-weight: bold;
        font-size: 24px;
    }
    /* notice E */

    #testPage {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
    }
    .top_bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        vertical-align: bottom;
        padding-bottom: 30px;        
        margin: 0 auto;
    }
    .bar_bg {
        width: 100%;
        height: 12px;
        background: #fff;
        border-radius: 20px;
        position: relative;
        box-shadow: 1px 1px 3px 0px rgba(0,0,0,.1);
    }
    #bar_gauge {
        position: absolute;
        left: 0;
        top: 0;
        width: 8%;
        background: #ecb8ad;
        z-index: 9999;
        height: 12px;
        border-radius: 20px 0 0 20px;
        transform: .2s;
    }
    #bar_gauge::before {
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        background: url('../img/bokhee_gauge.svg') no-repeat;
        top: 50%;
        right: -18px;
        transform: translate(0, -50%);
    }
    .progress {
        font-family: "CookieRun";
        font-size: 1.1em;
    }
    .question_wrap {
        position: relative;
        overflow: scroll;
        height: 487px;
    }
    .question {
        position: absolute;
        display: none;
        transform: .2s;
    }
    .question.show {
        display: block;
        transform: .2s;
    }
    .slide p {
        margin: 15px 0;
        font-size: 20px;
        line-height: 40px;
        font-family: 'Noto Sans KR', sans-serif;
        letter-spacing: -0.8px;
        text-align: left;
        margin-bottom: 50px;
    }
    #answer_btn > button {
        display: block;
        background: #fff;
        width: 100%;
        padding: 24px;
        margin: 0 auto;
        margin-bottom: 20px;
        box-shadow: 1px 1px 3px 0px rgba(0,0,0,.1);
        border-radius: 20px;
        font-size: 18px;
    }
    .temporary{
        font-size: 12px;
        margin: 0;
    }
    /* test E */

    .circle {        
        margin: 20px auto;
        width: 240px;
        height: 240px;
        border-radius: 50%;
        background: #fff;
        line-height: 240px;
        font-size: 160px;
        font-family: 'CookieRun';
        font-weight: bold;
        z-index: 999;
        box-shadow: 2px 2px 8px 2px rgba(0,0,0,.1);
        position: relative;
    }
    .circle.change {
        background: transparent;
        box-shadow: none;
    }
    .circle > img {
        width: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .resultPage {
        color: #333;
    }
}